.logincontainer {
    max-width: 400px;
    min-width: 200px;
    width: 30vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5d5d5d;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 5px whitesmoke;
    font-family: 'Oxygen', sans-serif;
    padding: 20px;
  }

  .loginLabelInput {
    margin-bottom: 5px;
  }

  .logincontainer label {
    margin-right: 10px;
  }

  #emailInput, #passwordInput {
    width: 100%;
    max-width: 300px;
    min-width: 100px;
  }

  .loginFormButs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .loginSubmitBut button, .demo-user {
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #0066b6;
  }

  .loginSubmit, .demo-user{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0066b6;
    margin-right: 5px;
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .loginSubmit:hover, .demo-user:hover{
    background-color: #005a99;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }

  .loginSubmit:active, .demo-user:active{
    background-color: #004d80;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
