body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .singleRecipeContainer{
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #ffffff;
    width: 100%;
    min-height: 100vh;
    margin-top: 1vh;

  }
.recipeIngredientSection{
    display: flex;
    flex-direction: column;

}

#numberIngredients{
    margin-bottom: -5px;
}

.measuredIngredientsList{
    list-style-type: none;
}

.recipeDirections{
    display: flex;
    flex-direction: column;

}


#addtorecipeboxbutton{
    width: 20vh;
}
