body,
html {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.updateRecipeFormContainer {
	font-family: 'Oxygen', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #121212;
	color: #ffffff;
	width: 100%;
	min-height: 100vh;
	margin-top: 1vh;
}
