.appBackground {
  background-image: url('https://d1jca6dx52tygx.cloudfront.net/food.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
}
