body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

.mainRecipeContainer{

    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #ffffff;
    width: 100%;
    min-height: 100vh;
}
.reciperesults{
display: flex;
flex-direction: row;
justify-content: center;

}

.recipesMapped{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.recipesMapped li{
    border: 2px solid #6200ea;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 5px;

}

.recipeLink{
    text-decoration: none;
    color: whitesmoke;
}

#searchButton{
    margin-top: 10px;
    padding: 8px 18px;
    border: 1px solid #5d5d5d;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, #333, #222);
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}
#clearButton{
    margin-top: 10px;
    padding: 2px 10px;
    border: 1px solid #5d5d5d;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, #333, #222);
    color: #fff;

    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
#searchButton:hover {
    background: linear-gradient(145deg, #555, #444);
}

#searchButton:active {
    background: linear-gradient(145deg, #222, #111);
}

#clearButton:hover{
    background: linear-gradient(145deg, #555, #444);
}

#clearButton:active{
    background: linear-gradient(145deg, #222, #111);
}


input[type="radio"] {
    cursor: pointer;
}

#specialMsgSearch{
    margin-bottom: 5px;
    font-size: 14px;
    color: #0066b6;
}
