body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
  }


  .mainCalenderContainer{
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #ffffff;
    width: 100%;
    min-height: 100vh;
  }


  .fc{
    background-color: #121212;
  }


  .fc-event-title {
    color: whitesmoke;
  }

  .fc-toolbar-title{
    color: whitesmoke;
  }

  .fc-daygrid-day-number{
    color: whitesmoke;
  }

  .fc-col-header-cell{
    color: whitesmoke;
  }
