body,
html {
	margin: 0;
	padding: 0;
	height: 100vh;
}


.singleListContainer{
  font-family: 'Oxygen', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #121212;
	color: #ffffff;
	width: 100%;
	min-height: 100vh;
	margin-top: 1vh;
}

#listDeleteButton{
	background-color: #0066b6;
	margin-right: 5px;
	font-size: 14px;
	font-family: 'Oxygen', sans-serif;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	margin-top: 5px;
	width: 100px;
	height: 30px;
	margin-bottom: 1vh;
}
#listDeleteButton:hover {
	background-color: #005a99;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
	transform: translateY(-2px);
}

#listDeleteButton:active {
	background-color: #004d80;
	transform: translateY(1px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addItemsToListModal{
  margin-top: 5px;
	margin-bottom: 10px;
  background-color: #0066b6;
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 125px;
  height: 25px;
}
